.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6.4rem 0;
}

.menu-nav {
  display: flex;
  gap: 4.2rem;
}

.menu-nav a {
  text-transform: uppercase;
  color: var(--dark-gray-color);
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: 2px;
  &:hover {
    text-decoration: underline;
  }
}

.logo-nav {
  width: 20.2rem;
}

.burger-menu {
  display: none;
}

.footer-main .navigation .menu-nav a {
  color: var(--white-color);
}

@media screen and (max-width: 600px) {
  .menu-nav {
    display: none;
  }
  .burger-menu {
    display: flex;
  }
  .navigation {
    padding: 5rem 0;
  }
}

@media screen and (max-width: 400px) {
  .navigation {
    padding: 4rem 0;
  }
}
